@import "tailwindcss";

:root {
  --color-primary: #3b82f6; /* Modern blue */
  --color-primary-dark: #2563eb;
  --color-secondary: #f3f4f6; /* Light gray */
  --color-background: #ffffff;
  --color-text: #111827; /* Dark gray */
  --color-accent: #10b981; /* Green for accents */
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  cursor: pointer;
}
